-For the meal preorder page, if the meal deadline has been reached that item has to be removed from the list. only show items available for preorder and there must be a "view item" link to show overlay bubble with details,ingrediants and image of the food.
-The kitchen staff can also add another item on the list for that day (eg. 2 breakfast options) if a learner is allergic at the another. and must also reflect on the Mealplan

-For the kitchen staff, they must not be able to approve nor reject the dietery profile. they be able to review it once done.
-for the create meal plan I think there should be meal options for the staff to select and be added to the list, you can generate meals and add them with ingredients and remove the R/head option because I dont know whats it for add somehing like units. the should also be an option to add a meal with description, image and rest of the things needed.
-For inventory the staff has be able to verify the added ingredients by scanning and storing reciepts or invoices.
-For each ingredient used it must be automatically deducted from the inventory. So when adding a meal you must clarify how many are being used.( eg. 3 onions)
-When scanning the qr code for meal scanner, it must display what that learner ordered not to misplace the orders

-On the admin side when adding a new kitchen schedule the times must be pre-determined when adding a meal so each staff won't be promtped to add time 
-Do not add the portions because nothing can verify this action on the system.
-we must add data here too, so there can be teams to select and aption to create team using existing staff in the system
